* {
    background-color: lightgray;
}

div {
    width: 100%;
}

h1 {
    text-align: center;
}

#self {
    text-align: center;
    font-size: 14pzx;
}

p {
    text-align: left;
    font-size: 14px;
}

img {
    border-radius: 8px;
    width: 90%;
    margin: 5px 10px;
    display: block;
    /*padding: 10px 20px;*/
    height: auto;
}